<ion-view title="Adicionar Boletins" id="page5">
  <ion-content padding="true" class="has-header">
    <h4 id="adicionarBoletins-heading6" style="color:#000000;">Fazer upload do arquivo</h4>
    <form id="adicionarBoletins-form11" class="list">
      <label class="item item-input" id="adicionarBoletins-input2">
        <span class="input-label">Link arquivo</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <form id="adicionarBoletins-form13" class="list">
      <label class="item item-input" id="adicionarBoletins-input4">
        <span class="input-label">Semestre e ano</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="boletins()" id="adicionarBoletins-button3" class="button button-positive button-block">Enviar boletim</a>
  </ion-content>
</ion-view>