<ion-view title="Avaliar turmas" id="page3">
  <ion-content padding="true" class="has-header">
    <h4 id="avaliarTurmas-heading4" style="color:#000000;">Selecione a turma</h4>
    <form id="avaliarTurmas-form6" class="list">
      <label class="item item-select" id="avaliarTurmas-select3">
        <span class="input-label">Selecionar turma</span>
        <select>
          <option>Turma G01</option>
          <option>Turma H01</option>
          <option>Turma E02</option>
        </select>
      </label>
    </form>
    <h4 id="avaliarTurmas-heading5" style="color:#000000;">Escrever feedback</h4>
    <form id="avaliarTurmas-form10" class="list">
      <label class="item item-input" id="avaliarTurmas-textarea2">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="menu.avaliaO()" id="avaliarTurmas-button2" class="button button-positive button-block">FINALIZAR</a>
  </ion-content>
</ion-view>