<ion-view title="Consultar turmas" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="consultarTurmas-list2">
      <div class="item item-body" id="consultarTurmas-list-item-container4">
        <div id="consultarTurmas-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professor Garen - Segunda - 15 às 16 hrs</p>
        </div>
        <div id="consultarTurmas-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professor Heimer - Terça - 10 às 12 hrs</p>
        </div>
        <div id="consultarTurmas-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professora Evelyn - Quarta - 10 às 12 hrs</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>