<ion-view title="Matricular-se" id="page1">
  <ion-content padding="true" class="has-header">
    <h4 id="matricularSe-heading1" style="color:#000000;">Selecione o local</h4>
    <form id="matricularSe-form4" class="list">
      <label class="item item-select" id="matricularSe-select1">
        <span class="input-label">Selecionar o local</span>
        <select>
          <option>Samuels drift</option>
          <option>Body tech</option>
          <option>Cuiabá</option>
          <option>Lagoinha</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <h4 id="matricularSe-heading2" style="color:#000000;">Selecione o dia</h4>
      <form id="matricularSe-form12" class="list">
        <label class="item item-input" id="matricularSe-input3">
          <span class="input-label">Selecionar dia</span>
          <input type="date" placeholder="">
        </label>
      </form>
      <div class="spacer" style="width: 300px; height: 53px;"></div>
      <div class="item item-body" id="matricularSe-list-item-container1">
        <div id="matricularSe-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professor Garen - 03 vagas</p>
        </div>
        <div id="matricularSe-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professor Heimer - 05 vagas</p>
        </div>
        <div id="matricularSe-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Aula de judô - Professora Evelyn - 01 vagas</p>
        </div>
      </div>
      <a ui-sref="menu.matrCula()" id="matricularSe-button1" class="button button-positive button-block">Finalizar</a>
    </form>
  </ion-content>
</ion-view>